
<div class="aboutme" style="display: block;">
	<img class="aboutMePhoto" src="gfx/aboutMePhoto.jpg" alt="Me">
	<ul class="links hover">
		<li>
			<a href="cv_lasse_pirinen.pdf" target="_blank" title="Click to download pdf">CV<em style="left: -180px; display: none;">Click to download pdf</em>
			</a>
		</li>
		<li>
			<a href="resume_lasse_pirinen.pdf" target="_blank" title="Click to download pdf">Resume<em style="right: -220px; display: none;">Click to download pdf</em>
			</a>
		</li>
	</ul>
</div>